* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: flex; 
  flex-direction: row; 
  min-height: 100vh; 
}


header {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  padding: 10px 20px;
  background-color: #e5add2; 
  color: rgb(0, 0, 0); 
}

.profile-photo {
  max-width: 100px; 
  height: auto; 
  border-radius: 50%; 
  margin-top: 10px; 
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

main {
  flex: 1; 
}

.hero-banner {
  background-color: #C2396E; /
  padding: 0;
}

.page-section {
  margin: 20px;
}


#work {
  text-align: center;
}

.work-item {
  margin: 20px;
}

.work-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd; /
  border-radius: 8px; 
}

.work-item h3 {
  margin-top: 10px;
}



@media (min-width: 768px) {
  body {
    flex-direction: row; 
  }

  nav {
    margin-top: 0; /* Remove top margin for navigation on larger screens */
  }

  main {
    flex: 2; /* Adjust the main content to take more space on larger screens */
  }

  .hero-banner {
    padding: 40px; /* Increase padding for larger screens */
  }

  .page-section {
    margin: 40px; /* Increase margin for larger screens */
  }

  /* Adjust work section styles for larger screens */
  #work {
    text-align: left;
  }

  .work-item {
    margin: 40px;
  }
}
